/db
db
/backend/vendor

/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/vendor
/db
.idea
.DS_Store
/backend/.env
/backend/.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
